server:
  port: 8090
  error:
    include-message: always
    include-binding-errors: always
    include-exception: false

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sistema_blog?serverTimezone=UTC
    username: root
    password: dominguez
    max-active: 20
    max-idle: 8
    min-idle: 8
    initial-size: 10
    driver-class-name: com.mysql.cj.jdbc.Driver

  security:
    user:
      name: usuario
      password: 12345

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update

  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher

    security:
      oauth2:
        client:
          registration:
            login-client:
              provider: local-authz
              cliente-id: client-1234
              client-secret: secret
              cliente-authentication-method: basic
              authorization-grant-type: authorization-code
              scope: profile
              redirect-uri-template: "{baseurl}/login/oauth2/code/{registrationId}"
              cliente-name: Login
          provider:
            local-authz:
              authorization-uri: http://auth-server:8090/oauth/authorize
              token-uri: http://auth-server:8090/oauth/token
              user-info-uri: http://auth-server:8090/resources/userinfo
              user-name-attribute: name